.header{
  height: 80px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart{
  position: relative;
}

.cart h3{
 text-decoration: none;

}


.cart p{
  height: 22px;
  width: 22px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  /* text-align: center; */
  align-items: center;
  display: flex;
  justify-content: center;
  top: -5px;
  right: -43%;
}
  /* .sum{
    margin-left: 45px;
  } */